@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Sora', Arial, Helvetica, sans-serif;
   list-style: none;
   text-decoration: none;
}
body {
   background: rgb(239,235,245);
   background: linear-gradient(45deg, rgba(239,235,245,1) 0%, rgba(245,245,255,1) 100%);
   background-repeat: no-repeat;
}
img {
   max-width: 100%;
   display: block;
}

.img-profile {
   width: 175px !important;
   /* border: 5px solid transparent;
   border-image: linear-gradient(to right, #F00, #00F);
   border-image-slice: 1; */
   border-radius: 50% !important;
}
.card-img-top {
   width: 50px !important;
}
.container {
   max-width: 800px !important;
}
h1 {
   color: #4F01D5;
   font-weight: 800 !important;
}
h1, h2 {
   letter-spacing: -1px;
}

.card {
   border: 1px solid #c6c6c6 !important;
   border-radius: 18px !important;
   background-color: #faf5ff !important;
   color: #4F01D5;
}
.card:hover {
   /* border: 1px solid #c6c6c6 !important; */
   box-shadow: 0px 2px 10px #4F01D580;
   border: 1px solid #c6c6c6 !important;
   background-color: #4F01D5 !important;
   color: #faf5ff;
}
.logo {
   width: 150px !important;
}




